.menu {
  position: fixed;
  top: 0;
  left: -20%;
  width: 20%;
  height: 100%;
  animation: menuClose 0.4s;
}

@keyframes menuClose {
  0% {
    left: 0%;
  }
  100% {
    left: -20%;
  }
}

.menu-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.menu .dark {
  color: #ffffff;
  border-color: #000;
  box-shadow: 0 2px 5px 3px rgb(49, 49, 49);
}

.menu-heading {
  text-align: center;
  font-size: 1.5em;
}

.filter-dropdown-btn {
  padding: 5px 0;
  background-color: inherit;
  color: #000;
  font-weight: 500;
  font-size: 0.9em;
  border: 0;
}
.filter-dropdown-btn:hover {
  background: inherit;
  color: #000;
}
.filter-dropdown-btn:active {
  background: inherit;
  outline: 0;
  border: 0;
  color: #000;
}
.filter-dropdown-btn:focus {
  box-shadow: none;
  background: inherit;
  outline: 0;
  border: 0;
  color: #000;
}

.filter-btn-dark {
  color: #ffffff;
}

.filter-btn-dark:hover {
  color: #ffffff;
}
.filter-btn-dark:focus {
  color: #ffffff;
}

.menu-item {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  font-weight: 500;
}

.menu-content-open {
  border-right: 2px solid #ffffff;
  box-shadow: 0 2px 5px 3px rgb(199, 199, 199);
  height: 100%;
  width: 100%;
}

.menu-open {
  animation: menuLoyal 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 15;
}

.filter-items-btn {
  display: flex;
  justify-content: flex-start;
}

.sort-item {
  cursor: pointer;
}

.menu-close-btn {
  display: none;
}

@keyframes menuLoyal {
  0% {
    left: -20%;
  }
  100% {
    left: 0;
  }
}

@media (max-width: 1440px) {
  .menu {
    left: -25%;
    width: 25%;
    animation: menuClose 0.4s;
  }
  .menu-open {
    left: 0;
    width: 25%;
    animation: menuLoyal 0.4s;
  }
  @keyframes menuLoyal {
    0% {
      left: -25%;
    }
    100% {
      left: 0;
    }
  }
  @keyframes menuClose {
    0% {
      left: 0%;
    }
    100% {
      left: -25%;
    }
  }
}

@media (max-width: 1024px) {
  .menu {
    z-index: 10;
    left: -30%;
    width: 30%;
    animation: menuClose 0.4s;
  }
  .menu-open {
    left: 0;
    width: 25%;
    animation: menuLoyal 0.4s;
  }
  .menu-open {
    width: 30%;
  }
  @keyframes menuLoyal {
    0% {
      left: -30%;
    }
    100% {
      left: 0;
    }
  }
  @keyframes menuClose {
    0% {
      left: 0%;
    }
    100% {
      left: -30%;
    }
  }
}

@media (max-width: 800px) {
  .menu {
    left: -40%;
    width: 40%;
    animation: menuClose 0.4s;
  }
  .menu-open {
    left: 0;
    width: 40%;
    animation: menuLoyal 0.4s;
  }
  @keyframes menuLoyal {
    0% {
      left: -40%;
    }
    100% {
      left: 0;
    }
  }
  @keyframes menuClose {
    0% {
      left: 0%;
    }
    100% {
      left: -40%;
    }
  }
}

@media (max-width: 600px) {
  .menu {
    left: -60%;
    width: 60%;
    animation: menuClose 0.4s;
    z-index: 10;
  }
  .menu-open {
    left: 0;
    width: 60%;
    animation: menuLoyal 0.4s;
  }
  @keyframes menuLoyal {
    0% {
      left: -60%;
    }
    100% {
      left: 0;
    }
  }
  @keyframes menuClose {
    0% {
      left: 0%;
    }
    100% {
      left: -60%;
    }
  }
}

@media (max-width: 425px) {
  .menu-close-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: initial;
  }

  .menu {
    left: -100%;
    width: 100%;
    animation: menuClose 0.4s;
    z-index: 10;
  }
  .menu-open {
    z-index: 15;
    left: 0;
    width: 100%;
    animation: menuLoyal 0.4s;
  }
  @keyframes menuLoyal {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  @keyframes menuClose {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }
}
