.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  z-index: 10;
}

.modal-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 200%;
  padding: 20px;
}

#newsText {
  height: 200px;
  resize: none;
}

.add-item-form .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add-item-form .input-group input {
  width: 100% !important;
}
.add-item-form .form-control {
  width: 100% !important;
}

.add-item-form .btn {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .modal-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    width: 150%;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .modal-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 20px;
  }
}

.required-data {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.dropdown-menu {
  padding: 0;
}

.add-item-btn {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
