.search {
  width: 30%;
}

@media (max-width: 1024px) {
  .search {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .search {
    width: 70%;
  }
}
@media (max-width: 425px) {
  .search {
    width: 75%;
  }
}
@media (max-width: 375px) {
  .search {
    width: 80%;
  }
}
