* {
  box-sizing: border-box;
  user-select: none;
}
::-webkit-scrollbar {
  width: 0px;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  min-height: 100%;
  animation: startApp 0.8s;
}

@keyframes startApp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app {
  height: 100% !important;
  min-height: 100%;
}
